.app {
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.todo-form {
  width: 100%;
  margin: 10px 0 50px 0;
}

.todo-list{
  width: 70%;
  height: 50vh;
  border: 1px dashed pink;
  padding: 10px;
}

.todo-form form {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.todo-form .form-inputs{
  display: flex;
  flex-flow: column;
  width: 300px;
  margin-bottom: 20px;
}

.todo-form .todo-buttons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 300px;
}

button{
  width: 125px;
  border: 0;
  padding: 5px;
  background-color: pink;
}

.todo-item {
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  margin: 5px;
}

p {
  margin: 0;
}
